<h1 class="fHanna"> 자가진단 </h1>
<div align="center">
    <!-- <p><%=@currentQ.id%></p>-->
    <img src="/ddong.jpg" alt="" usemap="#Map" />
    <map name="Map" id="Map">
        <area alt="" title="" href="/self3?type=1&id=<%=@currentQ.id%>" shape="poly" coords="408,67,312,246,219,253,144,71" />
        <area alt="" title="" href="/self3?type=2&id=<%=@currentQ.id%>" shape="poly" coords="216,253,138,76,5,213,178,318" />
        <area alt="" title="" href="/self3?type=3&id=<%=@currentQ.id%>" shape="poly" coords="213,321,8,313,8,461,237,391" />
        <area alt="" title="" href="/self3?type=4&id=<%=@currentQ.id%>" shape="poly" coords="237,394,11,482,1,574,268,579,271,406" />
        <area alt="" title="" href="/self3?type=5&id=<%=@currentQ.id%>" shape="poly" coords="281,406,553,412,558,578,281,574" />
        <area alt="" title="" href="/self3?type=6&id=<%=@currentQ.id%>" shape="poly" coords="334,293,285,395,553,410,554,289" />
        <area alt="" title="" href="/self3?type=7&id=<%=@currentQ.id%>" shape="poly" coords="337,285,320,249,417,67,550,65,556,284" />
    </map>
</div>

</center>